@use './components/wrapper/wrapper';
@use './components/grid/grid';
@use './components/button/button';

.hero__title {
  font-weight: 500;
  font-size: 68px;
  line-height: 83px;
  color: #156963;
}

.hero__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #2C1500; 
  opacity: 0.8;
}

.button-group_hero {
  display: flex;
  flex-direction: row;
  font-family: 'Montserrat';
}

// positioning

.hero__content {
  padding-top: 184px;
}

.hero__title {
  margin-bottom: 24px;
}

.hero__text {
  margin-bottom: 110px;
}

.hero__image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.hero__image img {
  height: 100%;
  max-width: unset;
}

.hero-img_visible {
  display: unset;
}

.hero-img_hidden {
  display: none;
}