@font-face {
  font-family: 'Montserrat';
  src: url('./src/fonts/Montserrat/Montserrat-Regular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./src/fonts/Montserrat/Montserrat-Medium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./src/fonts/Montserrat/Montserrat-SemiBold.woff') format('woff');
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./src/fonts/Montserrat/Montserrat-Bold.woff') format('woff');
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: 'Nunito';
  src: url('./src/fonts/Nunito/Nunito-Bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Work_Sans';
  src: url('./src/fonts/Work_Sans/WorkSans-Regular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'Work_Sans';
  src: url('./src/fonts/Work_Sans/WorkSans-Medium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
}