.wrapper {
  max-width: 1160px;
  margin: 0 auto;
}

.wrapper_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.wrapper_hero {
  max-width: 1280px;
  margin: 0 auto;
}

.wrapper_shop {
  background-color: #F3F4F6;
}